doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap.css')
  body
    block content

    script(src="/node_modules/jquery/dist/jquery.min.js")
    script(src="/node_modules/popper.js/dist/umd/popper.js")
    script(src="/node_modules/bootstrap/dist/js/bootstrap.js")
    script(src="/node_modules/noty/lib/noty.min.js")
    script(src="/public/javascripts/dapp.js")
    script(src="/public/javascripts/main.js")
    script(src="/public/javascripts/parallax.js")